<!DOCTYPE html>
<html>
<head>
#parse("head-nobd.vm")
<title>直播来了 - 推荐主播列表</title>
</head>
<body>
    #parse("nav.vm")

    <div id="banner" class="container"></div>

    <div class="container">
        <div class="row">
            <div class="">
                <div class="row">
                    <a class="btn btn-primary" style="margin: 0 0 15px 15px;" href="/actors/0">添加主播</a>
                </div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th data-sort="string" class="text-center thsort">名字</th>
                            <th data-sort="string" class="text-center thsort">平台</th>
                            <th data-sort="string" class="text-center thsort">游戏</th>
                            <th data-sort="string" class="text-center thsort">标签</th>
                            <th data-sort="string" class="text-center thsort">地址</th>
                        </tr>
                    </thead>
                    <tbody>
                    #foreach($actor in $actors)
                        <tr>
                            <td class="text-center">
                                <a href="/actors/$actor.id">$actor.name</a>
                            </td>
                            <td class="text-center">$actor.platform.name</td>
                            <td class="text-center">$actor.game.name</td>
                            <td class="text-center">#foreach($tag in $actor.tags)$tag.title #end</td>
                            <td class="text-center">
                                <a href="$actor.liveUrl" target="_blank">$actor.liveUrl</a>
                            </td>
                        </tr>
                    #end
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    #parse("footer.vm")
    <script type="text/javascript" src="/js/stupidtable.min.js"></script>
    <script type="text/javascript">
        $("table").stupidtable();
    </script>
</body>
</html>