<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="游戏直播聚合平台">
<meta name="keywords" content="游戏直播,游戏直播聚合,直播聚合,dota2直播,lol直播">
<link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/main.css">
