<!DOCTYPE html>
<html>
<head>
#parse("head.vm")
<title>直播来了 - 一个专注于游戏直播推荐的网站</title>
</head>
<body>
    #parse("nav.vm")

    <div id="banner" class="container">
    <!-- banner -->
    <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4997875047691062"
        data-ad-slot="7307879432"
        data-ad-format="auto"></ins>
    </div>

    <div class="container">
        <div class="row">
        #foreach ($liveRoom in $liveRooms)
            <div class="col-sm-6 col-md-4 col-lg-3">
                <a class="card" target="_blank" href="/live/$!liveRoom.id">
                    <div class="thumbnail">
                        #if($liveRoom.actor.platform.linkProtect)
                        <img class="card-img" src="/image?url=$!liveRoom.thumbnail" alt="$!liveRoom.title">
                        #else
                        <img class="card-img" src="$!liveRoom.thumbnail" alt="$!liveRoom.title">
                        #end
                        <div class="caption">
                            <img alt="$!liveRoom.actor.name" src="$liveRoom.avatar" title="$!liveRoom.actor.name" class="img-circle avatar">
                            <p class="card-title" title="$!liveRoom.title">$!liveRoom.title</p>
                            <span class="text-muted">
                                <span>&nbsp;</span>
                                #if($liveRoom.number > 0)
                                <span class="pull-left">$!liveRoom.views</span>
                                #end
                                <span class="card-title col-sm-7 col-md-7 col-lg-7" #if($liveRoom.number == 0) style="padding-left: 0;padding-right: 0;"#end>$!liveRoom.name</span>
                            </span>
                            <span class="pull-right">
                                <img class="zb-ico" src="$!liveRoom.actor.platform.icon" alt="$!liveRoom.actor.platform.name" title="$!liveRoom.actor.platform.name" />&nbsp;
                                <img class="zb-ico" src="$!liveRoom.actor.game.icon" alt="$!liveRoom.actor.game.name" title="$!liveRoom.actor.game.name" />
                            </span>
                            <div style="margin-top: 10px;">
                                #if($liveRoom.status == 1)
                                <span class="label label-info">正在直播</span>
                                #end
                                #if($liveRoom.status == 0)
                                <span class="label label-warning">已经休息了</span>
                                #end
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        #end
        </div>
        #if (!$q)
        <nav>
            <ul class="pager">
                #set($p = $offset - 20)
                #set($n = $offset + 20)
                <li #if ($offset <= 0)class="disabled" #end><a href="$path$uri/$p">前一页</a></li>
                <li><a href="$path$uri/$n">后一页</a></li>
            </ul>
        </nav>
        #end
    </div>

    <div class="recommend">
        <a href="/" class="active">
        推荐
        </a>
        <a href="/all" class="inactive">
        全部
        </a>
    </div>
    
    #parse("footer.vm")
</body>
</html>
