<!DOCTYPE html>
<html>
<head>
#parse("head.vm")
<title>爱看直播</title>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-lg-10 col-lg-offset-1">

                    <!-- Branding and mobile menu button -->
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/falcor/"> <img class="img-plain navbar-logo"
                            src="/img/logo.png" alt="logo">
                        </a>
                    </div>

                    <!-- Main navigation links -->
                    <div class="navbar-collapse collapse site-navigation">

                        <!-- Link to the project's GitHub repo & Twitter profile -->
                        <ul class="nav navbar-nav navbar-right navbar-links">
                            <li><a href="https://github.com/Netflix/falcor">登录</a></li>
                            <li><a href="https://twitter.com/falcorjs">注册</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </nav>

    <div id="banner" class="container"></div>

    <div class="container">
        <div class="row text-center">
            <ul class="list-inline">
            #foreach ($game in $games)
                <li #if ($currentGame == $game.abbr)class="text-primary" #end>
                    <a href="/s/$game.abbr">$game.name</a>
                </li>
            #end
            </ul>
        </div>
    </div>
    
    <div class="container" style="margin-top: 20px;">
        <div class="row">
        #foreach ($liveRoom in $liveRooms)
            <div class="col-sm-6 col-md-4 col-lg-3">
                <a target="_blank" href="/live/$liveRoom.platform.abbr/$liveRoom.game.abbr/$liveRoom.uid">
                    <div class="thumbnail">
                      <img src="$liveRoom.thumbnail" alt="$esc.html($liveRoom.title)">
                        <div class="caption">
                            <p class="card-title" title="$liveRoom.title">$liveRoom.title</p>
                            <span class="text-muted">
                                <span>&nbsp;</span>
                                <span class="pull-left">$liveRoom.views</span>
                                <span class="card-title col-sm-10 col-md-10 col-lg-8">$liveRoom.name</span>
                            </span>
                            <span class="pull-right">
                                <img class="zb-ico" src="$liveRoom.platform.icon" title="$liveRoom.platform.name" />&nbsp;
                                <img class="zb-ico" src="$liveRoom.game.icon" title="$liveRoom.game.name" />
                            </span>
                        </div>
                    </div>
                </a>
            </div>
        #end
        </div>
        <nav>
            <ul class="pager">
                #set($p = $offset - 20)
                #set($n = $offset + 20)
                <li #if ($offset <= 0)class="disabled" #end><a href="/s/$currentGame/$p">前一页</a></li>
                <li><a href="/s/$currentGame/$n">后一页</a></li>
            </ul>
        </nav>
    </div>

    #parse("footer.vm")
</body>
</html>