<!DOCTYPE html>
<html>
<head>
#parse("head.vm")
<title>爱看直播 - $liveRoom.name - $liveRoom.title</title>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-lg-10 col-lg-offset-1">

                    <!-- Branding and mobile menu button -->
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/falcor/"> <img class="img-plain navbar-logo"
                            src="/img/logo.png" alt="logo">
                        </a>
                    </div>

                    <!-- Main navigation links -->
                    <div class="navbar-collapse collapse site-navigation">

                        <!-- Link to the project's GitHub repo & Twitter profile -->
                        <ul class="nav navbar-nav navbar-right navbar-links">
                            <li><a href="https://github.com/Netflix/falcor">登录</a></li>
                            <li><a href="https://twitter.com/falcorjs">注册</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </nav>

    <div id="banner" class="container"></div>

    <div class="container">
        <div class="row zb-info">
            <div class="pull-left">
                <img class="zb-avatar" alt="$liveRoom.name" src="$liveRoom.avatar">
            </div>
            <div class="pull-left" style="margin-left: 15px;">
                <p class="zb-title">$liveRoom.title</p>
                <p class="zb-name">主播：$liveRoom.name</p>
            </div>
            <div class="pull-right">
                <a href="$liveRoom.url" style="font-size: 16px; height: 60x; line-height: 60px; padding-right: 10px;">去$liveRoom.platform.name观看</a>
            </div>
        </div>
        <div class="row" id="plugin">
            <embed style="display: none;" width="640" height="360" allownetworking="all" allowscriptaccess="always" src="$liveRoom.shareUrl" quality="high" bgcolor="#000" wmode="window" allowfullscreen="true" allowFullScreenInteractive="true" type="application/x-shockwave-flash">
        </div>
        <div class="row">
            <div class="page-header">
                <h4>主播介绍</h4>
            </div>
            <p>
                $liveRoom.description
            </p>
        </div>
    </div>
    
    #parse("footer.vm")
    <script type="text/javascript">
    $(function() {
        var plugin = $("#plugin");
        plugin.find("embed").width(plugin.width()).height(plugin.width() * 9 / 16).show();
    });
    </script>
</body>
</html>