<!DOCTYPE html>
<html>
<head>
#parse("head.vm")
<title>游戏直播 - $liveRoom.name - $liveRoom.title</title>
</head>
<body>
    #parse("nav.vm")

    <div id="banner" class="container">
    <!-- zhibo_live -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-4997875047691062"
         data-ad-slot="1029613830"
         data-ad-format="auto"></ins>
    </div>

    <div class="container">
        <div class="row zb-info">
            <div class="pull-left">
                <img class="zb-avatar" alt="$liveRoom.name" src="$liveRoom.avatar">
            </div>
            <div class="pull-left col-xs-6" style="margin-left: 15px;">
                <p class="zb-title">$liveRoom.title</p>
                <p class="zb-name">主播：$liveRoom.name</p>
            </div>
            <div class="pull-right">
                <a href="$liveRoom.actor.liveUrl" style="font-size: 16px; height: 60x; line-height: 60px; padding-right: 10px;">去$liveRoom.actor.platform.name观看</a>
            </div>
        </div>
        #if ($isMobile)
        <div class="row">
            <p>暂不支持手机端网页播放，请到原网站尝试</p>
        </div>
        #else
        <div class="row" id="plugin">
            #if ($liveRoom.actor.platform.iframe)
            <iframe width="100%" height="100%" src="$liveRoom.flashUrl" frameborder="0" allowfullscreen="false"></iframe>
            #else
            <embed style="display: none;" width="640" height="360" allownetworking="all" allowscriptaccess="always" src="$liveRoom.flashUrl" quality="high" bgcolor="#000" wmode="window" allowfullscreen="true" allowFullScreenInteractive="true" type="application/x-shockwave-flash">
            #end
        </div>
        #end
        <div class="row">
            <div class="page-header">
                <h4>主播介绍</h4>
            </div>
            <p>
                $liveRoom.description
            </p>
        </div>
    </div>
    
    <div id="hm_t_84210"></div>
    #parse("footer.vm")
    <script type="text/javascript">
    $(function() {
        var plugin = $("#plugin");
        #if ($liveRoom.actor.platform.iframe)
        plugin.find("iframe").width(plugin.width()).height(plugin.width() * 9 / 16).show();
        #else
        plugin.find("embed").width(plugin.width()).height(plugin.width() * 9 / 16).show();
        #end
    });
    </script>
</body>
</html>