<!DOCTYPE html>
<html>
<head>
#parse("head.vm")
<title>爱看直播 - $liveRoom.name - $liveRoom.title</title>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-lg-10 col-lg-offset-1">

                    <!-- Branding and mobile menu button -->
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/falcor/"> <img class="img-plain navbar-logo"
                            src="/img/logo.png" alt="logo">
                        </a>
                    </div>

                    <!-- Main navigation links -->
                    <div class="navbar-collapse collapse site-navigation">

                        <!-- Link to the project's GitHub repo & Twitter profile -->
                        <ul class="nav navbar-nav navbar-right navbar-links">
                            <li><a href="https://github.com/Netflix/falcor">登录</a></li>
                            <li><a href="https://twitter.com/falcorjs">注册</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </nav>

    <div id="banner" class="container"></div>

    <div class="container">
        <div class="row">
            <embed width="100%" height="auto" allownetworking="all" allowscriptaccess="always" src="http://staticlive.douyutv.com/common/share/play.swf?room_id=58428" quality="high" bgcolor="#000" wmode="window" allowfullscreen="true" allowFullScreenInteractive="true" type="application/x-shockwave-flash">
        </div>
        <div class="row">
        </div>
    </div>
    
    #parse("footer.vm")
</body>
</html>