<!DOCTYPE html>
<html>
<head>
#parse("head.vm")
<title>管理</title>
</head>
<body>
<div class="container">
    <a href="/manage/platforms">平台</a>
</div>
<br>
<div class="container">
    <a href="/manage/games">游戏</a>
</div>
<br>
<div class="container">
    <a href="/manage/platformgames">平台游戏</a>
</div>
</body>
</html>