<!DOCTYPE html>
<html>
<head>
#parse("head-nobd.vm")
<title>管理</title>
</head>
<body>
<div class="container">
    <a href="/manage/platforms">平台</a>
</div>
<br>
<div class="container">
    <form action="/manage/games" method="post" class="col-md-4 col-lg-4">
        <div class="form-group">
            <input type="text" class="form-control" name="name" placeholder="名字">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="abbr" placeholder="英文简称">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="alias" placeholder="别名">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="icon" placeholder="图标">
        </div>
        <button type="submit" class="btn btn-default">添加游戏</button>
    </form>
</div>
<br>
<div class="container">
    <form action="/manage/platformgames" method="post" class="col-md-4 col-lg-4">
        <div class="form-group">
            <select name="platform" class="form-control">
                <option value="">选择平台</option>
                #foreach ($platform as $platforms)
                <option value="$platform.abbr">$platform.name</option>
                #end
            </select>
        </div>
        <div class="form-group">
            <select name="game" class="form-control">
                <option value="">选择游戏</option>
                #foreach ($game as $games)
                <option value="$game.abbr">$game.name</option>
                #end
            </select>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="platformUrl" placeholder="平台地址">
        </div>
        <button type="submit" class="btn btn-default">添加平台游戏</button>
    </form>
</div>
</body>
</html>