<!DOCTYPE html>
<html>
<head>
#parse("head.vm")
<title>管理</title>
</head>
<body>
<div class="container">
    <form action="/man/platforms" method="post" class="col-md-4 col-lg-4">
        <div class="form-group">
            <input type="text" class="form-control" name="name" placeholder="name">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="abbr" placeholder="abbr">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="url" placeholder="url">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="url" placeholder="host">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="icon" placeholder="icon">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="logo" placeholder="logo">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="sharePattern" placeholder="sharePattern">
        </div>
        <button type="submit" class="btn btn-default">添加平台</button>
    </form>
</div>
    <br>
<div class="container">
    <form action="/man/games" method="post" class="col-md-4 col-lg-4">
        <div class="form-group">
            <select name="platform" class="form-control">
            #foreach ($platform as $platforms)
                <option value="$platform.abbr">$platform.name</option>
            #end
            </select>
        </div>
        <div class="form-group">
            <select name="game" class="form-control">
                #foreach ($game as $games)
                <option value="$game.abbr">$game.name</option>
            #end
            </select>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="platformUrl" placeholder="platformUrl">
        </div>
        <button type="submit" class="btn btn-default">添加游戏</button>
    </form>
</div>
</body>
</html>