<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-lg-12">

                <!-- Branding and mobile menu button -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"> <!-- <img class="img-plain navbar-logo"
                        src="/img/logo.png" alt="logo"> -->
                        直播666
                    </a>
                </div>

                <!-- Main navigation links -->
                <div id="navbar" class="navbar-collapse collapse">
                    <form name="form" class="navbar-form navbar-right" action="$path">
                        <input type="text" name="q" class="form-control" placeholder="搜索...">
                    </form>
                    <ul class="nav navbar-nav navbar-right navbar-links">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">游戏<span class="caret"></span></a>
                            <ul id="dropdownGame" class="dropdown-menu">
                                <li><a href="${path}game/all/0" data-game="all">全部</a></li>
                                #foreach($game in $games)
                                <li><a href="${path}game/$game.abbr/0" data-game="$game.abbr">$game.name</a></li>
                                #end
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">主播<span class="caret"></span></a>
                            <ul id="dropdownTag" class="dropdown-menu">
                                <li><a href="${path}tag/ALL/0" data-tag="ALL">全部</a></li>
                                #foreach($actorTag in $actorTags)
                                <li><a href="${path}tag/$actorTag/0" data-tag="$actorTag">$actorTag.title</a></li>
                                #end
                            </ul>
                        </li>
                    </ul>
                    
                </div>

            </div>
        </div>
    </div>
</nav>