<!DOCTYPE html>
<html>
<head>
#parse("head.vm")
<title>平台游戏对应列表</title>
</head>
<body>
<div class="container">
    <div class="row">
        <a class="btn btn-primary" style="margin: 0 0 15px 15px;" href="/manage/platformgames/0">添加平台游戏</a>
    </div>
</div>
<div class="container">
    <ul class="list-group">
    #foreach ($pg as $platformgames)
        <li class="list-group-item"><a href="/manage/platformgames/$pg.id">$pg.platform.name - $pg.game.name - $pg.platformUrl</a></li>
    #end
    </ul>
</div>
</body>
</html>