<!DOCTYPE html>
<html>
<head>
#parse("head.vm")
<title>平台游戏对应列表</title>
</head>
<body>
<div class="container">
    <ul class="list-group">
    #foreach ($pg as $platformgames)
        <li class="list-group-item">$pg.platform.name - $pg.game.name</li>
    #end
    </ul>
</div>
</body>
</html>